<!--
<ul id="DetailsTabs">
	<li id="ServicesTab">Services</li>
	<li id="SourcesTab">Sources</li>
	<li id="DestsTab">Destinations</li>
	<li id="ConnectionsTab">Connections</li>
</ul>
-->
<div class="clearing"></div>

<TMPL_IF name="services">
	<TMPL_INCLUDE name="services.tmpl">
</TMPL_IF>
<TMPL_IF name="hosts">
	<TMPL_INCLUDE name="hosts.tmpl">
</TMPL_IF>
<TMPL_IF name="connections">
	<TMPL_INCLUDE name="connections.tmpl">
</TMPL_IF>
<TMPL_IF name="flowdetail">
	<TMPL_INCLUDE name="flowdetail.tmpl">
</TMPL_IF>
<TMPL_IF name="dump">
	<pre><TMPL_VAR name="dump"></pre>
</TMPL_IF>
